html {
  scroll-behavior: smooth;
}

body {
  background-color: $bgColor;
  font-family: "Lato", sans-serif;
  color: $primaryColor;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontMontserrat;
}

h1,
h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.25em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

a {
  color: $secondaryColor;
}

.card-title {
  color: $primaryColor;
}

p {
  line-height: 2em;
}

.supertitle {
  margin-bottom: 0;
}

.btn {
  border-radius: 10px;
  padding: 1em 2em;
  color: $primaryColor;
  border: none;
  &:hover {
    color: $primaryColor;
  }
}

.btn-primary:not(:disabled):not(.disabled) {
  &:focus,
  &:active {
    box-shadow: 0 0 0 0.2rem rgba($secondaryColor, 0.5);
    background: $primaryColor;
    color: white;
  }

  background: $primaryColor;
  color: white;
  &:hover {
    background: $secondaryColor;
    color: $primaryColor;
  }
}

.section {
  min-height: 100vh;
  margin: 70px 0;
}

.lowered {
  margin-top: 70px;
  &-xl {
    margin-top: 140px;
  }
}

.blob-primary {
  color: white;
  .title {
    color: white;
  }
}

.has-navbar-fixed {
  padding-top: 75px;
}
