body {
  background-color: $bgColor;
  font-family: "Lato", sans-serif;
  color: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontMontserrat;
}

h1,
h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.25em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

p {
  line-height: 2em;
}

.supertitle {
  margin-bottom: 0;
}

.btn {
  color: $primaryColor;
  &:hover {
    color: $primaryColor;
  }
}

.section {
  min-height: 100vh;
  padding: 70px 0;
}

.lowered {
  margin-top: 70px;
  &-xl {
    margin-top: 140px;
  }
}

.blob-primary {
  color: white;
  .title {
    color: white;
  }
}
