.section {
  &-title {
    font-size: 3rem;
  }
}

.about-us {
  &-process {
    background-color: $primaryColor;
  }
}

.has-blob {
  position: relative;
  min-height: 500px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-size: cover;
    z-index: -1;
  }

  &.blob-primary::before {
    width: 500px;
    height: 500px;
    background: url("@@/assets/img/aboutus-blob.svg") no-repeat;
    top: -75px;
    left: -130px;
  }
}

.card-item {
  .card {
    background: $bgColor;
  }
}

.blob-padding {
  padding-top: 75px;
}

@include lg-max {
  .section {
    &-title {
      font-size: 2em;
    }
  }

  .has-blob {
    min-height: 400px;

    &.blob-primary::before {
      width: 400px;
      height: 400px;
      background-size: contain;
    }
  }
}
