.navbar {
  padding-left: 60px;
  padding-right: 60px;
  height: 70px;
  background: $bgColor;
  .navbar-nav {
    min-width: 515px;
    width: 40%;
    justify-content: space-between;
    .show {
      & > .nav-link {
        color: $secondaryColor;
      }
    }

    .nav-link {
      color: $primaryColor;
      position: relative;
      @include fontMontserrat;
      @include smooth;
      text-transform: uppercase;
      font-weight: 400;
      border-bottom: 2px solid transparent;

      &.active {
        border-color: $secondaryColor;
        color: $primaryColor;
      }

      &:not(.dropdown-toggle)::after {
        content: "";
        transition: all 0.3s ease;
        height: 2px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover,
      &:focus {
        color: $primaryColor;
      }

      &:hover {
        &::after {
          background-color: $secondaryColor;
          width: 100%;
        }
      }
    }
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    animation: slide 0.3s;
    .navbar-brand {
      max-width: 57px;
    }
  }
}

.navbar-toggler {
  border: none;
  span {
    border-radius: 20px;
    position: relative;
    display: block;
    height: 2px;
    width: 24px;
    background: $primaryColor;
    top: 0;
    &:nth-of-type(1) {
      transition: 0.3s 0.3s top, 0.3s 0.3s bottom, 0.3s transform;
    }

    &:nth-of-type(3) {
      transition: 0.3s 0.3s top, 0.3s 0.1s opacity;
    }

    &:nth-of-type(2) {
      margin: 6px 0;
      transition: 0.3s transform;
    }

    &:nth-of-type(3) {
      width: 10px;
      background: $secondaryColor;
      margin-left: auto;
    }
  }

  &.not-collapsed {
    span {
      &:nth-of-type(1) {
        top: 8px;
        transform: rotate(45deg);
        transition: 0.3s top, 0.3s 0.3s transform;
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
        transition: 0.3s 0.3s transform;
      }

      &:nth-of-type(3) {
        top: -8px;
        opacity: 0;
        transition: 0.3s top, 0.3s 0.1s opacity;
      }
    }
  }
}

@include lg-max {
  .navbar {
    position: static;
    padding: 0 16px;
    &-container {
      position: relative;
    }

    &-logo {
      width: 70px;
    }

    &-collapse {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      z-index: 999;
      background: $primaryColor;
    }

    .navbar-nav {
      width: 100%;
      min-width: auto;
      padding: 16px;
      .nav-link {
        color: white;
        &.active {
          color: $secondaryColor;
        }

        &:hover,
        &:focus {
          color: $secondaryColor;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
